<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.katherine.directoriomedico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.katherine.directoriomedico.pacientedetail.PacienteDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.example.katherine.directoriomedico.addeditpaciente.AddEditPacienteActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.example.katherine.directoriomedico.PacienteActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.example.katherine.directoriomedico.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.katherine.directoriomedico.medicodetail.MedicoDetailActivity"
            android:label="@string/title_activity_medico_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.example.katherine.directoriomedico.addeditmedico.AddEditMedicoActivity"
            android:label="@string/title_activity_add_edit_medico"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>